<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Console Container" Manufacturer="Glen Hughes" Version="1.0.0.0" UpgradeCode="3ca5da1d-2946-49b9-8af8-feb62e47d591">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="Main">
			<ComponentGroupRef Id="WorkerServiceComponents" />
			<ComponentGroupRef Id="FrontEndComponents" />
		</Feature>
	</Package>
</Wix>
